body {
    background-image: url("../IMG/imgMenu/FondoAzul.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    
    background-attachment: fixed;
}
.Man{
    width: 10%;
    padding-left: 20%;
}
.Uno{
    width: 10%;
}
.DOS{
    width: 10%;
}
.tres{
    width : 10% ;
}
.cuatro{
    width : 10% ;
}
.cinco{
    width : 10% ;
}
.seis{
    width : 10% ;
    
}
.siete{
    width : 10% ;
}
.ocho{
    width : 10% ;
}
.nueve{
    width : 10% ;
}