.Fondo{
    background-image: url("../IMG/imgMenu/FondoAzul.jpg");
    /* background-size: contain;fuerza a que siempre se vea la imagen por completo. */
    background-repeat: no-repeat; /*no repite la imagen en ningún sentido, sólo la muestra una vez. */
    background-size: cover;/*se encarga de que la imagen siempre cubra por completo el tamaño del contenedor. */
    
}

.numero-opcion {
    width: 60%;
    color: rgb(0, 0, 0);
    border: 5px solid;
    border-radius: 5%;
}

/* Esto hace que los numeros cambien de color cuando el mouse esta sobre ellos
   La pseudo-clase "hover" hace eso */
.cambiar:hover{
    background-color: blue;
}

.manzana{
    margin-bottom: 6%;
    padding-left: 35%;
    height: 26rem;
    width:auto;
}

