.boton{
    padding: 0.5% 0.5%;
    height: 30%;
    margin-top: 110%;
    padding-left: 15%;
}
.click{
    width: 10%;
    padding-left: 85%;
    padding-bottom: 100%;
}

.imagen{
    width: 100%;
    border-radius: 50px;
    height: 100% ;
}

.divimagen{
    
    height: 90% ;
    width: 100%;
}




.divtitulo{
    padding-left: 37%;
}
.Titulo{
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3D518C;
}

body {
    background-color: lightskyblue;
}

html {
    overflow-y: hidden;
  }
.boton-redireccion {
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}