.boton{
    padding: 0.5% 0.5%;
    height: 30%;
    margin-top: 110%;
    padding-left: 15%;
}
.click{
    width: 10%;
    padding-left: 85%;
    padding-bottom: 100%;
}



.imagen{
    width: 90%;
    border-radius: 50px;
    height: 90% ;
}

.divimagen{
    width:auto;
    padding-left: 10%;
    padding-top: 8%;
}

.title {
    color: #f80101;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.125;
}

.container.is-fluid {
    max-width: none!important;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
}

body {
    background-image: url("img/fondo.jpg");
}
